.navbar-wrapper{
  margin-top: 20px;
}

body{
  background-color: #5e5d5d;
}

 p {
  color: #9d9d9d;
  margin: 10px 10px;
}

.menu {
   float: left;
   min-width: 100px;
   margin-left: 15px;
}

.context {
  margin-left: 120px;
}

ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}

li {
    display:inline-block;
}

.navbar-link{
  list-style-type:none;
  text-align:center;
}

.navbar-inverse .navbar-link:hover {
  background: inherit;
}

.divider{
  height: 1px;
  border-bottom: 1px solid black;
}
